INSTALL
Makefile.in
aclocal.m4
config.guess
config.sub
configure
defaults/Makefile.in
helper-dialog/Makefile.in
icons/22x22/Makefile.in
icons/48x48/Makefile.in
icons/Makefile.in
icons/scalable/Makefile.in
ltmain.sh
missing
po/Makefile.in.in
settings-dialogs/Makefile.in
src/Makefile.in
themes/Makefile.in
themes/daloa/Makefile.in
themes/default/Makefile.in
themes/kokodi/Makefile.in
themes/moheli/Makefile.in
Makefile
autom4te.cache/
config.h
config.log
config.status
libtool
stamp-h1
defaults/Makefile
helper-dialog/.deps/
helper-dialog/.libs/
helper-dialog/Makefile
helper-dialog/helper-dialog
icons/Makefile
icons/22x22/Makefile
icons/48x48/Makefile
icons/scalable/Makefile
po/.intltool-merge-cache
po/Makefile
po/Makefile.in
po/POTFILES
po/am.gmo
po/ar.gmo
po/ast.gmo
po/be.gmo
po/bg.gmo
po/bn.gmo
po/ca.gmo
po/cs.gmo
po/da.gmo
po/de.gmo
po/el.gmo
po/en_AU.gmo
po/en_GB.gmo
po/eo.gmo
po/es.gmo
po/et.gmo
po/eu.gmo
po/fi.gmo
po/fr.gmo
po/gl.gmo
po/he.gmo
po/hr.gmo
po/hu.gmo
po/id.gmo
po/is.gmo
po/it.gmo
po/ja.gmo
po/kk.gmo
po/ko.gmo
po/lt.gmo
po/lv.gmo
po/ms.gmo
po/nb.gmo
po/nl.gmo
po/nn.gmo
po/oc.gmo
po/pa.gmo
po/pl.gmo
po/pt.gmo
po/pt_BR.gmo
po/ro.gmo
po/ru.gmo
po/si.gmo
po/sk.gmo
po/sq.gmo
po/sr.gmo
po/stamp-it
po/sv.gmo
po/te.gmo
po/th.gmo
po/tr.gmo
po/ug.gmo
po/uk.gmo
po/ur.gmo
po/ur_PK.gmo
po/vi.gmo
po/zh_CN.gmo
po/zh_HK.gmo
po/zh_TW.gmo
settings-dialogs/.deps/
settings-dialogs/.libs/
settings-dialogs/Makefile
settings-dialogs/xfce-wm-settings.desktop
settings-dialogs/xfce-wmtweaks-settings.desktop
settings-dialogs/xfce-workspaces-settings.desktop
settings-dialogs/xfwm4-settings
settings-dialogs/xfwm4-tweaks-settings
settings-dialogs/xfwm4-workspace-settings
src/.deps/
src/.libs/
src/Makefile
src/xfwm4
themes/Makefile
themes/daloa/Makefile
themes/default/Makefile
themes/kokodi/Makefile
themes/moheli/Makefile
